.loader .loader_text-container .loader_text-container_item.food p:nth-child(4), .loader .loader_text-container .loader_text-container_item.food p:nth-child(3), .loader .loader_text-container .loader_text-container_item.food p:nth-child(2), .loader .loader_text-container .loader_text-container_item.food p:nth-child(1), .loader .loader_text-container .loader_text-container_item.my p:nth-child(2), .loader .loader_text-container .loader_text-container_item.my p:nth-child(1), .loader .loader_text-container .loader_text-container_item.oh p:nth-child(2), .loader .loader_text-container .loader_text-container_item.oh p:nth-child(1) {
  display: flex;
  align-items: flex-end;
  animation-name: anim;
  opacity: 1;
  transform: translateX(-1800px);
  animation-timing-function: cubic-bezier(0, 0.6, 0.95, 0.24);
  animation-duration: 3s;
  margin: 0;
  font-size: 12rem;
}

.loader {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: back_ground;
  animation-duration: 4s;
}
.loader .loader_text-container {
  position: relative;
  display: flex;
  justify-content: center;
}
.loader .loader_text-container > * {
  max-height: 200px;
}
.loader .loader_text-container > * > * {
  font-family: "Shrikhand", cursive;
}
.loader .loader_text-container::after {
  content: "";
  position: absolute;
  height: 25px;
  background-color: black;
  bottom: -40px;
  z-index: 2;
  animation-name: ani;
  animation-delay: 0s;
  animation-duration: 3s;
  animation-timing-function: linear;
}
.loader .loader_text-container .loader_text-container_item {
  display: flex;
  margin: 0;
}
.loader .loader_text-container .loader_text-container_item.oh p:nth-child(1) {
  animation-delay: 0.1s;
}
.loader .loader_text-container .loader_text-container_item.oh p:nth-child(2) {
  animation-delay: 0.2s;
}
.loader .loader_text-container .loader_text-container_item.my p:nth-child(1) {
  animation-delay: 0.3s;
}
.loader .loader_text-container .loader_text-container_item.my p:nth-child(2) {
  animation-delay: 0.4s;
}
.loader .loader_text-container .loader_text-container_item.food p:nth-child(1) {
  animation-delay: 0.5s;
}
.loader .loader_text-container .loader_text-container_item.food p:nth-child(2) {
  animation-delay: 0.6s;
}
.loader .loader_text-container .loader_text-container_item.food p:nth-child(3) {
  animation-delay: 0.7s;
}
.loader .loader_text-container .loader_text-container_item.food p:nth-child(4) {
  animation-delay: 0.8s;
}
@keyframes anim {
  0% {
    transform: translateX(0px);
    transform: translateY(0px);
  }
  10% {
    transform: translateY(40px);
    color: #9356DC;
  }
  25% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(40px);
    color: #FF79DA;
  }
  55% {
    transform: translateY(0px);
  }
  70% {
    transform: translateY(40px);
    color: #99E2D0;
  }
  85% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(40px);
    color: transparent;
  }
}

@keyframes ani {
  0% {
    width: 0%;
  }
  15% {
    background-color: #9356DC;
  }
  45% {
    background-color: #FF79DA;
  }
  75% {
    background-color: #99E2D0;
  }
  100% {
    background-color: transparent;
    width: 100%;
  }
}
@keyframes back_ground {
  0% {
    z-index: 10;
    background-color: #3e3e3e;
  }
  90% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: -100%;
    background-color: #3e3e3e;
    opacity: 0.5;
    z-index: 10;
  }
}
@media (max-width: 480px) {
  .loader .loader_text-container p {
    font-size: 9rem !important;
  }
}
@media (max-width: 700px) {
  .loader .loader_text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .loader .loader_text-container p {
    font-size: 15rem;
  }
}

/*# sourceMappingURL=loader.css.map */
