* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 10px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
	
}

html, body {
	height: 100%;
}

h1 {
    font-family: 'Shrikhand', cursive;
}

ol, ul {
	list-style: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

a {
    text-decoration: none;
    color: black;
	cursor: pointer;
}

button {
    border: none;
    background-color: transparent;
}

input {
	border: none;
	box-shadow: none;
}
