@import "../utils/variables";
@import "../utils/placeholders";
@import "../components/btn";
@import "../components/svg";
@import "../layouts/_footer";
@import "../layouts/_loader";

header {
    @extend %vertical--align;
    background-color: $backgroundColor;
    color: #313131;
    h1 {
        font-size: 3rem;
        box-shadow: 0 0 8px rgb(105, 105, 105);
        width: 100%;
        text-align: center;
        padding: 15px 0 6px 0;
        z-index: 1;
        color: black;
    }

    .localisation {
        @extend %horizontal--align;
        width: 100%;
        background-color: rgb(204, 204, 204);
        padding: 6px;
        i {
            font-size: 1.7rem;
            margin-right: 15px;
        }
        input {
            font-size: 1.6rem;
            font-weight: 600;
            background-color: inherit;
            width: 130px;
            height: 45px;
            &::placeholder {
                text-align: center;
                font-size: 1.8rem;
                color:rgb(54, 54, 54);
            }        
        }
    }
    nav {
        @extend %vertical--align;
        text-align: center;
        padding: 40px 0 0px 0;
        h2 {
            font-size: 2.6rem;
            font-weight: 800;
            color: black;
            width: 60%;
        }
        p {
            font-size: 2rem;
            font-weight: 400;
            color: rgb(88, 88, 88);
            line-height: 2.2rem;
            margin: 10px 0 40px 0;
            width: 90%;
        }
    }
}

h2 {
    font-size: 2.6rem;
    font-weight: 800;
    margin-bottom: 30px;
}

h3 {
    font-weight: 900;
}

#fonctionnement {
    width: 94%;
    margin: 0 1% 0 5%;
    padding: 46px 0 46px 0;

    li {
        @extend %horizontal--align;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        width: 93%;
        max-width: 375px;
        min-width: 280px;
        margin: 0 0 25px 15px;
        padding: 25px 0 25px 0;
        background-color: rgba(241, 241, 241, 0.856);
        box-shadow: 0 3px 12px rgba(201, 200, 200, 0.829);
        border-radius: 23px;
        transition: 0.3s;
        cursor: pointer;

        .number {
            @extend %horizontal--align;
            font-weight: 400;
            font-size: 1.4rem;
            margin-left: -14px;
            color: rgb(235, 235, 235);
            background-color: $primary;
            min-width: 26px;
            min-height: 26px;
            border-radius: 50px;
        }
        p {
            font-size: 1.8rem;
            font-weight: 600;
        }
        i {
            font-size: 2rem;
            margin: 0 25px 0 25px;
        }
        &:hover {
            background-color: rgba(115, 21, 223, 0.103);
            i {
                color: $primary;
            }
        }
    }
}

#restaurant {
    background-color: $backgroundColor;
    padding: 50px 0 50px 5%;
    .card-container {
        .card-container_card {
            @extend %vertical--align;
            position: relative;
            width: 95%;
            max-width: 390px;
            height: 300px;
            margin-bottom: 20px;
            box-shadow: 0px 1px 12px rgb(180, 180, 180);
            border-radius: 20px;
            transition: 0.3s;
            img {
                height: 70%;
                width: 100%;
                object-fit: cover;
                object-position: 50% 100%;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                position: relative;
            }
            .card-container_card--img-ajust {
                object-fit: cover;
                object-position: 50% 60%;
            }

            .content {
                display: flex;
                justify-content: space-between;
                position: relative;
                width: 96%;
                margin: auto 0 auto 10px;

                .text > * {
                    font-size: 2rem;
                    line-height: 2.6rem;
                }
            }
        }
        .new::before {
            content: "Nouveau";
            padding: 7px 15px 7px 15px;
            background-color: $tertiary;
            color: rgb(0, 151, 118);
            font-size: 1.6rem;
            font-weight: 700;
            border-radius: 3px;
            top: 14px;
            right: 14px;
            z-index: 2;
            position: absolute;
        }
    }
}


@media (min-width: 550px) {
    #fonctionnement {
        display: flex;
        flex-direction: column;
        align-items: center;
        li {
            min-width: 375px;
        }
    }

    #restaurant {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer {
        align-items: center;
        ul {
            margin-left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        h1 {
            margin-left: 0;
        }
    }
}

@media (min-width: 1000px) {
    #fonctionnement {
        margin: auto;
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    #restaurant {
        padding-left: 0;
        .card-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .card-container_card {
                margin: 20px;
            }
        }
    }

    footer {
        align-items: center;
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 85%;
            li {
                width: 20%;
                display: flex;
                justify-content: center;
            }
        }
        h1 {
            margin-left: 0;
        }
    }
}

@media (min-width: 1290px) {
    #fonctionnement {
        ul {
            width: 90%;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-around;
        }
    }
}
