@import "../utils/variables";
@import "../utils/placeholders";
@import "../components/btn";
@import "../components/svg";
@import "../layouts/_footer";

html {
    font-size: 9px;
}
header {
    nav {
        @extend %horizontal--align;
        position: relative;
        padding: 18px 0 8px 0;

        a {
            position: absolute;
            left: 30px;
            i {
                font-size: 2.4rem;
                color: #3e3e3e;
            }
        }
        h1 {
            font-size: 3.2rem;
        }
    }
    img {
        object-fit: cover;
        width: 100%;
        height: auto;
        max-height: 400px;
        object-position: 50% 60%;
    }
}

main {
    @extend %vertical--align;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: $backgroundColor;
    margin-top: -50px;
    position: relative;

    .title {
        @extend %horizontal--align;
        justify-content: space-between;
        width: 90%;
        padding: 40px 0 40px 0;
        h1 {
            font-size: 3rem;
        }
        i {
            font-size: 2.5rem;
        }
    }
    .section-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        & section:nth-child(1) {
            & .card:nth-child(2) {
                animation: fadein 0.5s linear forwards .6s;
            }
            & .card:nth-child(3) {
                animation: fadein 0.5s linear forwards .8s;
            }
            & .card:nth-child(4) {
                animation: fadein 0.5s linear forwards 1s;
            }
            & .card:nth-child(5) {
                animation: fadein 0.5s linear forwards 1.2s;
            }
        }
        & section:nth-child(2) {
            & .card:nth-child(2) {
                animation: fadein 0.5s linear forwards 1.2s;
            }
            & .card:nth-child(3) {
                animation: fadein 0.5s linear forwards 1.4s;
            }
            & .card:nth-child(4) {
                animation: fadein 0.5s linear forwards 1.6s;
            }
        }
        & section:nth-child(3) {
            & .card:nth-child(2) {
                animation: fadein 0.5s linear forwards 1.8s;
            }
            & .card:nth-child(3) {
                animation: fadein 0.5s linear forwards 2s;
            }
            & .card:nth-child(4) {
                animation: fadein 0.5s linear forwards 2.2s;
            }
        }
        section {
            @extend %vertical--align;
            margin-bottom: 30px;

            h2 {
                padding-bottom: 6px;
                position: relative;
                font-size: 1.8rem;
                font-weight: 400;
                margin-bottom: 8px;
                width: 90%;
                max-width: 450px;
                margin: 0 0 8px 0;

                &::after {
                    content: "";
                    height: 3px;
                    position: absolute;
                    width: 40px;
                    height: 3px;
                    background-color: $tertiary;
                    bottom: 0;
                    left: 0;
                }
            }
            .card {
                @extend %horizontal--align;
                justify-content: space-between;
                align-items: stretch;
                width: 92%;
                max-width: 470px;
                min-width: 300px;
                background-color: rgb(245, 245, 245);
                margin: 8px 0 8px 0;
                border-radius: 15px;
                overflow: hidden;
                white-space: nowrap;
                box-shadow: 0 2px 12px rgb(177, 177, 177);
                cursor: pointer;
                transform: translate(0, 30%);
                opacity: 0;

                .content {
                    padding: 12px;
                    width: 100%;
                    h3 {
                        font-size: 2rem;
                        @extend %text-elypsis;
                    }
                    .h3__description {
                        @extend %horizontal--align;
                        justify-content: space-between;
                        p {
                            font-size: 1.6rem;
                            padding: 5px 0 0 0;
                            @extend %text-elypsis
                            
                        }
                        & :nth-child(2) {
                            font-size: 1.7rem;
                            font-weight: 600;
                        }
                    }
                }
                .icone-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    background-color: $tertiary;
                    width: 0;
                    transition: 0.3s;
                    i {
                        position: absolute;
                        transform: rotate(90deg);
                        font-size: 2.8rem;
                        color: rgb(245, 245, 245);
                        transition: 0.4s;
                        animation-delay: 0.5s;
                    }
                }
                &:hover .icone-container {
                    width: 20%;
                }

                &:hover h3, &:hover .h3__description :nth-child(1){
                    margin-right: -80px;
                    max-width: 85%;
                }
                &:hover .icone-container i {
                    transform: rotate(360deg);
                }
            }
        }
    } 
}


@keyframes fadein {
    from {
        opacity: 0;
        transform: translate(0, 30%);
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@media (min-width: 420px) {
    html {
        font-size: 10px;
    }
    main {
        .title {
            max-width: 410px;
        }
        .section-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            section {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                .card {
                    width: 400px;
                }
            }
        }
    }
    footer {
        align-items: center;
        ul {
            margin-left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        h1 {
            margin-left: 0;
        }
    }
}

@media (min-width: 1550px) {
    html {
        font-size: 11px;
    }
    main {
        .title {
            width: 80%;
        }
        .section-container {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 80%;
        }
    }
    footer {
        align-items: center;
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 85%;
            li {
                width: 20%;
                display: flex;
                justify-content: center;
            }
        }
        h1 {
            margin-left: 0;
        }
    }
}
